<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>$title$</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.1/github-markdown.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div class="page">
    <main>
      <article class="markdown-body">

        <header>
          <h1>$title$</h1>

          $if(author)$
          <p class="author">By $author$</p>
          $endif$
        </header>

        $if(toc)$
        <nav class="toc" aria-label="Table of contents">
          <h2>Contents</h2>
          $toc$
        </nav>
        $endif$
        
        $body$

      </article>
    </main>
      
    <footer class="site-footer markdown-body">
      <div>
        $if(author)$Copyright © $author$$if(year_first_published)$ <time datetime="$first_published_iso$">$year_first_published$</time>–$endif$. $if(license_url)$Distributed via <a href="$license_url$">$license_name$</a>.$endif$$endif$
      </div>

          <div>
            $if(last_updated)$ Last updated on <time datetime="$last_updated_iso$">$last_updated$.</time>$endif$
            $if(repo_url)$ <a href="$repo_url$">View on Github</a>.$endif$
            $if(edit_url)$ <a href="$edit_url$">Edit this page</a>.$endif$
          </div>
    </footer>
  </div>
</body>
</html>