<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>$title$</title>
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.1/github-markdown.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <article class="markdown-body">

    <h1>$title$</h1>

    $if(author)$
    <div class="author">By $author$</div>
    $endif$

    $if(toc)$
    <nav class="toc">
    <h2>Contents</h2>
    $toc$
    </nav>
    $endif$

    $body$

  </article>

  <article class="markdown-body">
    <footer class="site-footer">
      <div>
        $if(author)$Written by $author$.$endif$
        $if(last_updated)$ Last updated on $last_updated$.$endif$
        $if(repo_url)$ <a href="$repo_url$">Repository</a>$endif$
        $if(edit_url)$ <a href="$edit_url$">Edit</a>$endif$
      </div>
    </footer>
  </article>
</body>
</html>